{% extends "admin_layout.twig" %}

{% block content %}

    <h1>Pending modifications</h1>
    <ul>
    {% for item in modifList %}
        <li>
            <a href="{{ path('admin_revision_compare', { 'revID' : item.id, 'referenceID' : item.reference_id }) }}">Preview ID#{{ item.id }}</a> - 
            <a href="{{ path('admin_revision', { 'revID' : item.id }) }}">Compare to current state</a> - 
            {% for tag in item.tags %}
                [{{ tag.tag_slug }}]
            {% endfor %} -

            {% for key, stat in item.stats %}
                {{ key }}={{ stat }};
            {% endfor %}
            (<a href="{{ path('admin_revision_archive', { 'revID' : item.id }) }}">archive</a>)
        </li>
    {% endfor %}
    </ul>

    {% if modifList is empty %}
    <p>No modification in the pending queue.</p>
    {% endif %}
    
    <h1>Merged modifications</h1>
    <ul>
    {% for item in mergedModifList %}
        <li>
            <a href="{{ path('admin_revision_compare', { 'revID' : item.id, 'referenceID' : item.reference_id }) }}">Preview ID#{{ item.id }}</a> - 
            <a href="{{ path('admin_revision', { 'revID' : item.id }) }}">Compare to current state</a> -
            {% for tag in item.tags %}
                [{{ tag.tag_slug }}]
            {% endfor %} -

            {% for key, stat in item.stats %}
                {{ key }}={{ stat }};
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
    
{% endblock %}