{% extends "admin_layout.twig" %}

{% block content %}

    <h1>Pending modifications <small>{{modifList.count}} / {{modifList.total}}</small></h1>
    <table id="areas-listing" class="table table-striped">
        <th>Modification ID</th>
        <th>tags</th>
        <th width="10%">Options</th>
    {% for item in modifList.modifications %}
        <tr>
            <td><a href="{{ path('admin_revision', { 'revID' : item.id }) }}">{{ item.id }}</a></td>
            <td>{% for tag in item.tags %}
                <span class="label">{{ tag.tag_slug }}</span>
            {% endfor %}
            </td>
            
            {#
            <td>
                {% for key, stat in item.stats %}
                    {{ key }}={{ stat }};
                {% endfor %}
            </td>
            #}
            <td>
                <div class="btn-group">
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                    Action
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a title="Compare to current state" href="{{ path('admin_revision_compare', { 'revID' : item.id, 'referenceID' : item.reference_id }) }}">Preview form user version</a></li>
                      <li><a class="btn-warning" href="{{ path('admin_revision_archive', { 'revID' : item.id }) }}">Archive</a></li>
                      <li><a class="btn-danger" href="{{ path('admin_revision_delete', { 'revID' : item.id } )}}">Delete</a></li>
                  </ul>
                </div>
                
            </td>
        </tr>
    {% endfor %}
    </table>

    {% if modifList is empty %}
    <p>No modification in the pending queue.</p>
    {% endif %}
    
    {#
    <h1>Merged modifications</h1>
    <ul>
     for item in mergedModifList %}
        <li>
            <a href="{{ path('admin_revision_compare', { 'revID' : item.id, 'referenceID' : item.reference_id }) }}">Preview ID#{{ item.id }}</a> - 
            <a href="{{ path('admin_revision', { 'revID' : item.id }) }}">Compare to current state</a> -
            {% for tag in item.tags %}
                [{{ tag.tag_slug }}]
            {% endfor %} -

            {% for key, stat in item.stats %}
                {{ key }}={{ stat }};
            {% endfor %}
        </li>
    {% endfor 
    </ul>
    #}
{% endblock %}