{% extends "admin_layout.twig" %}
{% block title %}Organize{% endblock %}
{% block assets %}
    {{ parent() }}
    
    <style>
        ul#list-marker-group{
            position: relative;
            text-align: center;
        }
        ul#list-marker-group li {
            float: left;
            border: 1px solid #000;
            list-style-type: none;
            width: 180px;
        }
        
        ul#list-marker-group li a {
            margin: 5px;
        }
        
        #list-marker-group .list-marker-type {
            display: none;
            list-style-type: none;
            background: #DDD;
            margin: 0;
            padding: 0;
            border: 1px solid #000;
        }
        
        #list-marker-group li:hover .list-marker-type {
            display: block;
            overflow: auto;
            position: absolute;            
        }
        
        #list-marker-group .list-marker-type li {
            border: 0;
            clear: left;
            display: block;
            margin: 5px;
        }
    </style>
{% endblock %}

{% block content %}
{% if feedback is defined %}
<p>{{ feedback }}</p>
{% endif %}

<h1>Set of fields</h1>

<form method="post" action="{{ path('admin_add_fieldset') }}">
    <input type="text" name="fieldset_name" />
    <input type="submit" name="fieldset_create" value="Create a set of fields" />
</form>

<form method="post" action="{{ path('admin_remove_fieldset') }}">
    <select id="fieldsets-list" name="fieldsets-list">
        <option value="default"></option>
        {% for fieldset in fieldsets %}
        <option value="{{ fieldset.id }}">{{ fieldset.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" name="fieldset_delete" value="Remove this set of fields" />
</form>

{% for fieldset in fieldsets %}
<div class="fieldset" id="fieldset-{{ fieldset.id }}">
    {% for field in fieldset['fields'] %}
    <form method="post" action="{{ path('admin_edit_field') }}">
        <input type="text" name="fieldname" value="{{ field.key_value }}" />
        <input type="hidden" name="fieldID" value="{{ field.id }}" />
        <input type="submit" name="fieldset-editfield" value="edit">
        <input type="submit" name="fieldset-removefield" value="Remove">
    </form>
    {% endfor %}
    <form method="post" action="{{ path('admin_add_field') }}">
        <input type="hidden" name="fieldset-id" value="{{ fieldset.id }}" />
        <input type="text" name="fieldname" />
        <input type="submit" name="fieldset-addfield" value="Add" />
    </form>
</div>
{% endfor %}

<h1>Manage marker groups and marker types</h1>

<ul id="list-marker-group">
    {% for mg in markers_structure %}
    <li>
        <a href="#{{ mg['slug'] }}">
            {% if mg['translated_data'].getData('en', 'name') != null %}
                {{ mg['translated_data'].getData('en', 'name') }}
            {% else %}
                {{ mg['slug'] }}
            {% endif %}
        </a>
        <ul class="list-marker-type">
            {% for mt in mg['marker_types'] %}
            <li>
                <a href="#{{ mt['id'] }}">
                    {% if mt['translated_data'].getData('en', 'name') != null %}
                        {{ mt['translated_data'].getData('en', 'name') }}
                    {% else %}
                        {{ mt['id'] }}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
<br style="clear: both" />

<form method="post" action="{{ path('admin_add_marker_group') }}">
    <p>Add a new marker group:</p>
    <label >Slug</label>
    <input type="text" name="slug" value="" />
    <label>Icon prefix</label>
    <input type="text" name="icon-prefix" value="" />
    <select name="fieldset">
        <option value="default"></option>
        {% for fieldset in fieldsets %}
        <option value="{{ fieldset.id }}">{{ fieldset.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add" />
</form>

{% for mg in markers_structure %}
<div id="{{ mg['slug'] }}" class="marker-group">
<form method="post" action="{{ path('admin_edit_marker_group') }}">
    <input type="text" name="slug" value="{{ mg['slug'] }}" />
    <input type="text" name="icon-prefix" value="{{ mg['icon_prefix'] }}" />
    <select name="fieldset">
        <option value="default"></option>
        {% for fieldset in fieldsets %}
        <option value="{{ fieldset.id }}" {% if mg.id_fieldset == fieldset.id %}selected{% endif %}>{{ fieldset.name }}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="slug-reference" value="{{ mg['slug'] }}" />
    <input type="submit" name="edit" value="Update" />
    <input type="submit" name="remove" value="Remove" />
</form>

    <form method="post" action="{{ path('admin_edit_translated_data') }}">
    {% for lang, fields in mg['translated_data'].getAllData()  %}
        <p>{{ lang }}</p>
        {% for key, value in fields %}
            <label>{{ key }}</label> : <input type="text" name="{{ lang ~ '-' ~ key }}" value="{{ value }}" /> <br />
        {% endfor %}
    {% endfor %}
    <input type="hidden" name="id-translated-data" value="{{ mg.id_translated_data }}" />
    <input type="hidden" name="id-fieldset" value="{{ mg.id_fieldset }}" />
    <input type="submit" value="Update" />
    </form>

    <form method="post" action="{{ path('admin_add_marker_type') }}">
        <p>Add a new marker type:
        <label>slug</label> <input type="text" name="slug" value="" />
        <label>filename</label> <input type="text" name="filename" value="" />
        <input type="hidden" name="marker-group" value="{{ mg.slug }}" />
        <select name="fieldset">
            <option value="default"></option>
            {% for fieldset in fieldsets %}
            <option value="{{ fieldset.id }}">{{ fieldset.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Add" /></p>
    </form>

    {% for mt in mg['marker_types'] %}
    <div id="{{ mt['id'] }}" class="marker-type">
        <form method="post" action="{{ path('admin_edit_marker_type') }}">
            <input type="text" name="slug" value="{{ mt['id'] }}" />
            <input type="text" name="filename" value="{{ mt['filename'] }}" />
            <select name="fieldset">
                <option value="default"></option>
                {% for fieldset in fieldsets %}
                <option value="{{ fieldset.id }}" {% if mt.id_fieldset == fieldset.id %}selected{% endif %}>{{ fieldset.name }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="slug-reference" value="{{ mt['id'] }}" />
            <input type="submit" name="edit" value="Update" />
            <input type="submit" name="remove" value="Remove" />
        </form>
        
        <form method="post" action="{{ path('admin_edit_translated_data') }}">
        {% for lang, fields in mt['translated_data'].getAllData()  %}
            <p>{{ lang }}</p>
            {% for key, value in fields %}
                <label>{{ key }}</label> : <input type="text" name="{{ lang ~ '-' ~ key }}" value="{{ value }}" /> <br />
            {% endfor %}
        {% endfor %}
        <input type="hidden" name="id-translated-data" value="{{ mt.id_translated_data }}" />
        <input type="hidden" name="id-fieldset" value="{{ mt.id_fieldset }}" />
        <input type="submit" value="Update" />
        </form>
    </div>
    {% endfor %}
</div>
{% endfor %}

<script>

  $(document).ready(function () {
      
      $('#fieldsets-list').change(function() {
          
          $('div.fieldset').hide();
          $('#fieldset-' + $(this).val()).show();
      });
      
  });
</script>

{% endblock %}